{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro: {{cenote.name}}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="timeline" class="col-lg-12 box-default">
                <div class="box-content">

                    <a href="{{ path('cenotes_edit', {'id':cenote.id}) }}" class="btn btn-success    pull-right" type="button"  aria-haspopup="true" aria-expanded="false">
                        Editar cenote
                    </a>
                    <a href="{{ path('upload_images', {'id':cenote.id}) }}" class="btn btn-info  espacio  pull-right" type="button"  aria-haspopup="true" aria-expanded="false">
                        Subir imagenes
                    </a>
                    <a href="{{ path('upload_videos', {'id':cenote.id}) }}" class="btn btn-info  espacio  pull-right" type="button"  aria-haspopup="true" aria-expanded="false">
                        Subir videos
                    </a>
                    <h2 class="page-header">Fecha del registro: {{cenote.createdAt|date('Y-m-d')}}</h2>

                    <div class="cenote-image">
                        <div class="avatar">
                            {% if cenote.image == null %}
                                <img src="{{asset('assets/images/default.jpg')}}">
                            {% else %}
                                <img src="{{asset('uploads/cenotes/images/'~cenote.image)}}">
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <h2 class="page-header">CÉDULA DE REGISTRO DE SITIO</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Nombre del sitio (Site Name)</h3>
                                <p class="p-header"> {{cenote.name}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Región (Entity Name)</h3>
                                {% for entidad in cenote.entitiname %}
                                    <p class="p-header"> {{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Clave del sitio (Key Site)</h3>
                                {% for entidad in cenote.keysite %}
                                    <p class="p-header"> {{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Coordenadas UTM (Coordinates UTM)</h3>
                                <p class="p-header">{{cenote.coordinatesutm}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Tipo de contexto (Kind of Context)</h3>
                                {% for entidad in cenote.kindofcontext %}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>En caso de cueva seca (In case of Dry Cave)</h3>
                                {% for entidad in cenote.drycave %}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">  
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Equipo requerido (Equipment Needed)</h3>
                                <p class="p-header">{{cenote.equipment}}</p>
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Descripción detallada del sitio (Tipo de hallazgo y descripción de contexto)</h3>
                                <p class="p-header">{{cenote.contextdescription}}</p>            
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Rasgo relevantes (Relevant Traits)</h3>
                                {% for entidad in cenote.relevanttraits%}
                                    <p class="p-header">{{entidad}}</p>            
                                {% endfor %}
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Condiciones generales de preservación (Preservation General Conditions)</h3>
                                {% for entidad in cenote.preservationgeneral%}
                                    <p class="p-header">{{entidad}}</p>    
                                {% endfor %}
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Descripción técnica de sitio (Site Technical Description)</h3>
                                {% for entidad in cenote.technicaldescription%}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Profundidad (Depth)</h3>
                                <p class="p-header">{{cenote.depth}}</p>            
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Penetración horizontal en tiempo (Horizontal Penetration Time)</h3>
                                <p class="p-header">{{cenote.horizontalpenetration}}</p>            
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Dimensiones del sitio (Site Dimensions)</h3>
                                <p class="p-header">{{cenote.sitedimensions}}</p>
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Distancia al ingreso más próximo (Closest Entrance Distance)</h3>
                                <p class="p-header">{{cenote.entrancedistance}}</p>

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Sitio asociado a (Site associated to) </h3>
                                {% for entidad in cenote.siteassociated%}

                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Colecta de muestras de agua (Water Samples Collection)</h3>
                                {% for entidad in cenote.watersamples%}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}

                            </div>

                            <div class="col-lg-6">
                                <h4><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Datos de contacto: nombre, número telefónico y/o correo electrónico del dueño/responsable del predio.                                                                              Contact: (Name, Phone Number and/or email of Owner/Land Responsible)</h4>
                                <p class="p-header">{{cenote.contact}}</p>

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Tipo de agua (Type of water)</h3>
                                {% for entidad in cenote.typeofwater%}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Explorado por: (Explored by:)</h3>
                                <p class="p-header">{{cenote.exploredby}}</p>

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Fecha de registro de sitio (Site Inspection Date) </h3>
                                <p class="p-header">{{cenote.inspectiondate|date('d-m-y')}}</p>

                            </div>
                            <div class="col-lg-6">
                                <h4><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Documentado por: (numero telefónico y/o correo electrónico). Documented by: (Phone Number and / or email)</h4>
                                <p class="p-header">{{cenote.documentedby}}</p>

                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true"></span>Registro realizado por (Registration by)</h3>
                                <p class="p-header">{{cenote.registrationby}}</p>
                            </div>

                        </div>
                    </div>




                    <h2 class="page-header">Cédula de registro del análisis bioquímico del acuífero </h2>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Código del sitio
                                </h3>
                                <p class="p-header">{{cenote.sitecode}}</p>
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Coordenadas UTM
                                </h3>
                                <p class="p-header">{{cenote.coordinates}}</p>
                            </div>

                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Estado 
                                </h3>
                                <p class="p-header">{{cenote.state}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Municipios de Quintana Roo
                                </h3>
                                <p class="p-header">{{cenote.townquintanaroo}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Municipio de Yucatán 
                                </h3>
                                <p class="p-header">{{cenote.townyucatan}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Localidad 
                                </h3>
                                <p class="p-header">{{cenote.location}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Características del sitio 
                                </h3>
                                <p class="p-header">{{cenote.characteristics}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Tipo de contexto 
                                </h3>
                                {% for entidad in cenote.typeofcontext %}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Estado de conservación 
                                </h3>
                                {% for entidad in cenote.conservationstatus %}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor%}

                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Flora 
                                </h3>
                                <p class="p-header">{{cenote.flora}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Fauna 
                                </h3>
                                <p class="p-header">{{cenote.fauna}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Presencia de elementos arqueológicos 
                                </h3>
                                <p class="p-header">{{cenote.archaelements}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>En caso de presencia de elementos arqueológicos, señalar cuáles.  
                                </h3>
                                {% for entidad in cenote.whichelements %}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Prospección arqueológica 
                                </h3>
                                <p class="p-header">{{cenote.archasurvey}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Presencia de actividades turísticas 
                                </h3>
                                <p class="p-header">{{cenote.touristactivities}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>En caso de actividad turística, señale cuáles. 
                                </h3>
                                {% for entidad in cenote.whichactivities%}
                                    <p class="p-header">{{entidad}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <h2 class="page-header">Resultados de análisis</h2>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Fecha de análisis
                                </h3>
                                <p class="p-header">{{cenote.dateofanalisis|date('d-m-y')}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Temperatura
                                </h3>
                                <p class="p-header">{{cenote.temperature}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Turbiedad
                                </h3>
                                <p class="p-header">{{cenote.turbidity}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>pH
                                </h3>
                                <p class="p-header">{{cenote.ph}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Amonio
                                </h3>
                                <p class="p-header">{{cenote.ammonium}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Nitritos
                                </h3>
                                <p class="p-header">{{cenote.nitrites}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Nitratos
                                </h3>
                                <p class="p-header">{{cenote.nitratos}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Fosfatos
                                </h3>
                                <p class="p-header">{{cenote.phosphates}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Dureza total CaCo3
                                </h3>
                                <p class="p-header">{{cenote.hardness}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Detergentes
                                </h3>
                                <p class="p-header">{{cenote.detergents}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Cloro
                                </h3>
                                <p class="p-header">{{cenote.chlorine}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Coliformes
                                </h3>
                                <p class="p-header">{{cenote.coliforms}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Observaciones
                                </h3>
                                <p class="p-header">{{cenote.observations}}</p>
                            </div>
                            <div class="col-lg-6">
                                <h3><span class="glyphicon glyphicon-option-vertical " style="color:#e74c3c;" aria-hidden="true">                                    
                                    </span>Estado del cenote (Disponible o no)
                                </h3>
                                <p class="p-header">{{cenote.status}}</p>
                            </div>
                        </div>
                    </div>
                    <h2 class="page-header">Imágenes</h2>

                    <div class="row">
                        {% for image in images %}
                            <div class="col-lg-4">
                                <div class="card " style="width: 350px; " >
                                    {% if image.image == null %}
                                        <img class="img-responsive" src="{{asset('assets/images/default.jpg')}}">
                                    {% else %}
                                        <a href="{{asset('uploads/cenotes/images/profile/'~image.image)}}"><img class="center-block img-responsive" src="{{asset('uploads/cenotes/images/profile/'~image.image)}}"></a>             
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}    
                    </div>

                    <h2 class="page-header">Vídeos</h2>

                    <div class="row">
                        {% for video in videos %}
                            <div class="col-lg-4">

                                <video class="" width="320" height="240" controls src="{{asset('uploads/cenotes/videos/profile/'~video.video)}}" >

                                </video>              
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
                
            </div>
        </div>

    </div> 

{% endblock %}