{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro: {{cenote.name}}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box-form">

            <a href="{{ path('cenote_profile', {'id':cenote.id}) }}" style="margin-top: 25px;" class="btn btn-success    pull-right" type="button"  aria-haspopup="true" aria-expanded="false">
                Regresar
            </a>
            <h2 class="page-header">Editar registro</h2>

            {{form_start(form, {'enctype':'multipart/form-data'})}}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.name) }}
                </div> 
                <div class="col-lg-6">
                    {{ form_row(form.coordinatesutm) }}    
                </div>


                <div class="col-lg-3">
                    {{ form_row(form.entitiname[0]) }}
                    {{ form_row(form.entitiname[1]) }}
                    {{ form_row(form.entitiname[2]) }}
                    {{ form_row(form.entitiname[3]) }}

                </div>
                <div class="col-lg-4">
                    <label>Clave del sitio (Key Site)</label>

                    {{ form_row(form.keysite[0]) }}
                    {{ form_row(form.keysite[1]) }}
                    {{ form_row(form.keysite[2]) }}
                    {{ form_row(form.keysite[3]) }}
                    {{ form_row(form.keysite[4]) }}
                    {{ form_row(form.keysite[5]) }}
                    {{ form_row(form.keysite[6]) }}
                    {{ form_row(form.keysite[7]) }}
                    {{ form_row(form.keysite[8]) }}

                </div>
                <div class="col-lg-5">
                    <label>En caso de cueva seca (In case of Dry Cave)</label><br>
                    {{ form_row(form.drycave[0]) }}
                    {{ form_row(form.drycave[1]) }}
                    {{ form_row(form.drycave[2]) }}
                    {{ form_row(form.drycave[3]) }}
                    {{ form_row(form.drycave[4]) }}
                </div>
                <div class="col-lg-6">
                    <label>Tipo de contexto (Kind of Context)</label><br>
                    {{ form_row(form.kindofcontext[0]) }}
                    {{ form_row(form.kindofcontext[1]) }}
                    {{ form_row(form.kindofcontext[2]) }}
                    {{ form_row(form.kindofcontext[3]) }}
                    {{ form_row(form.kindofcontext[4]) }}
                    {{ form_row(form.kindofcontext[5]) }}
                    {{ form_row(form.kindofcontext[6]) }}
                    {{ form_row(form.kindofcontext[7]) }}
                </div>
                <div class="col-lg-6">
                    <label>Rasgo relevantes (Relevant Traits) </label>
                    {{ form_row(form.relevanttraits[0]) }}
                    {{ form_row(form.relevanttraits[1]) }}
                    {{ form_row(form.relevanttraits[2]) }}
                    {{ form_row(form.relevanttraits[3]) }}
                    {{ form_row(form.relevanttraits[4]) }}
                    {{ form_row(form.relevanttraits[5]) }}
                    {{ form_row(form.relevanttraits[6]) }}
                    {{ form_row(form.relevanttraits[7]) }}
                    {{ form_row(form.relevanttraits[8]) }}
                    {{ form_row(form.relevanttraits[9]) }}
                    {{ form_row(form.relevanttraits[10]) }}
                    {{ form_row(form.relevanttraits[11]) }}

                </div>
                <div class="col-lg-6">
                    <label>{{"Descripción detallada del sitio (Tipo de hallazgo y descripción de contexto)"}}</label><br>
                    <label>{{"Site Detailed Description (Kind of Discovery and Context Description)"}}</label>
                    {{form_widget(form.contextdescription)}}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.equipment) }}  
                </div>



                <div class="col-lg-6">
                    <label>Condiciones generales de preservación (Preservation General Conditions)</label>
                    {{ form_row(form.preservationgeneral[0]) }}
                    {{ form_row(form.preservationgeneral[1]) }}
                    {{ form_row(form.preservationgeneral[2]) }}
                </div>
                <div class="col-lg-12">
                    <label>{{"En caso de alguna alteración del contexto favor de explicar"}}</label><br>
                    <label>{{"(In case of any context alteration is visible, please explain)"}}</label>
                    {{form_widget(form.alteration)}}
                </div>  

                <div class="col-lg-6">
                    {{ form_row(form.depth) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.horizontalpenetration) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.sitedimensions) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.entrancedistance) }}
                </div>  
                <div class="col-lg-4">
                    <label>Descripción técnica de sitio (Site Technical Description)</label>
                    {{ form_row(form.technicaldescription[0]) }}
                    {{ form_row(form.technicaldescription[1]) }}

                </div>
                <div class="col-lg-4">
                    <label>Sitio asociado a (Site associated to)</label>
                    {{ form_row(form.siteassociated[0]) }}
                    {{ form_row(form.siteassociated[1]) }}
                    {{ form_row(form.siteassociated[2]) }}
                    {{ form_row(form.siteassociated[3]) }}
                    {{ form_row(form.siteassociated[4]) }}
                    {{ form_row(form.siteassociated[5]) }}
                    {{ form_row(form.siteassociated[6]) }}
                </div> 
                <div class="col-lg-4">
                    <label>Tipo de agua (Type of water)</label>
                    {{ form_row(form.typeofwater[0]) }}
                    {{ form_row(form.typeofwater[1]) }}
                    {{ form_row(form.typeofwater[2]) }}
                    {{ form_row(form.typeofwater[3]) }}
                    {{ form_row(form.typeofwater[4]) }}
                    {{ form_row(form.typeofwater[5]) }}
                </div>
                <div class="col-lg-6">
                    <label>Colecta de muestras de agua (Water Samples Collection)</label>
                    {{ form_row(form.watersamples[0]) }}
                    {{ form_row(form.watersamples[1]) }}
                    {{ form_row(form.watersamples[2]) }}
                    {{ form_row(form.watersamples[3]) }}
                    {{ form_row(form.watersamples[4]) }}
                    {{ form_row(form.watersamples[5]) }}
                    {{ form_row(form.watersamples[6]) }}
                    {{ form_row(form.watersamples[7]) }}
 
                </div>  

                <div class="col-lg-6">
                    <label>{{"Datos de contacto: nombre, número telefónico y/o correo electrónico del dueño/responsable del predio."}}</label>
                    <label>{{"Contact: (Name, Phone Number and/or email of Owner/Land Responsible)"}}</label>
                    {{form_widget(form.contact)}}
                    {{form_errors(form.contact)}}
                </div>

                <div class="col-lg-6">{{ form_row(form.exploredby) }}</div>
                <div class="col-lg-6">{{ form_row(form.documentedby) }}</div>
                <div class="col-lg-6">{{ form_row(form.inspectiondate) }}</div>
                <div class="col-lg-6">{{ form_row(form.registrationby) }}</div>
                <div class="clearfix"></div>
            </div>                
        </div>

        <br>

        <div class="box-form">
            <h3 class="page-header">CÉDULA DE REGISTRO DEL ANÁLISIS BIOQUÍMICO DEL ACUÍFERO </h3>
            <div class="row">
                <div class="col-lg-6">{{ form_row(form.sitecode) }}</div>
                <div class="col-lg-6">{{ form_row(form.coordinates) }}</div>
                <div class="col-lg-4">{{ form_row(form.state) }}</div>
                <div class="col-lg-4">{{ form_row(form.townquintanaroo) }}</div>
                <div class="col-lg-4">{{ form_row(form.townyucatan) }}</div>
                <div class="col-lg-6">{{ form_row(form.location) }}</div>
                <div class="col-lg-6">{{ form_row(form.characteristics) }}</div>

                <div class="col-lg-6">
                    <label>Tipo de Contexto</label>
                    {{ form_row(form.typeofcontext[0]) }}
                    {{ form_row(form.typeofcontext[1]) }}
                    {{ form_row(form.typeofcontext[2]) }}
                    {{ form_row(form.typeofcontext[3]) }}
                    {{ form_row(form.typeofcontext[4]) }}
                    {{ form_row(form.typeofcontext[5]) }}
                    {{ form_row(form.typeofcontext[6]) }}
                    {{ form_row(form.typeofcontext[7]) }}
                    {{ form_row(form.typeofcontext[8]) }}
                    {{ form_row(form.typeofcontext[9]) }}
                    {{ form_row(form.typeofcontext[10]) }}
                </div>

                <div class="col-lg-6">
                    <label>Estado de conservación</label>
                    {{ form_row(form.conservationstatus[0]) }}
                    {{ form_row(form.conservationstatus[1]) }}
                    {{ form_row(form.conservationstatus[2]) }}
                    {{ form_row(form.conservationstatus[3]) }}
                    {{ form_row(form.conservationstatus[4]) }}
                    {{ form_row(form.conservationstatus[5]) }}
                    {{ form_row(form.conservationstatus[6]) }}

                </div>


                <div class="col-lg-6">{{ form_row(form.flora) }}</div>
                <div class="col-lg-6">{{ form_row(form.fauna) }}</div>
                <div class="col-lg-4">{{ form_row(form.archaelements) }}</div>
                <div class="col-lg-4">{{ form_row(form.archasurvey) }}</div>
                <div class="col-lg-3">{{ form_row(form.touristactivities) }}</div>

                <div class="col-lg-5">
                    <label>En caso de presencia de elementos arqueológicos, señalar cuáles. </label>                    
                    {{ form_row(form.whichelements[0]) }}
                    {{ form_row(form.whichelements[1]) }}
                    {{ form_row(form.whichelements[2]) }}
                    {{ form_row(form.whichelements[3]) }}
                    {{ form_row(form.whichelements[4]) }}
                    {{ form_row(form.whichelements[5]) }}
                    {{ form_row(form.whichelements[6]) }}
                    {{ form_row(form.whichelements[7]) }}
                    {{ form_row(form.whichelements[8]) }}
                    {{ form_row(form.whichelements[9]) }}
                    {{ form_row(form.whichelements[10]) }}

                </div>

                <div class="col-lg-4">
                    <label>En caso de actividad turística, señale cuáles.</label>
                    {{ form_row(form.whichactivities[0]) }}
                    {{ form_row(form.whichactivities[1]) }}
                    {{ form_row(form.whichactivities[2]) }}
                    {{ form_row(form.whichactivities[3]) }}
                    {{ form_row(form.whichactivities[4]) }}
                    {{ form_row(form.whichactivities[5]) }}
                    {{ form_row(form.whichactivities[6]) }}
                    {{ form_row(form.whichactivities[7]) }}
                    {{ form_row(form.whichactivities[8]) }}
                    {{ form_row(form.whichactivities[9]) }}
                 </div>


                <div class="clearfix"></div> 
            </div>
        </div>
        <br>

        <div class="box-form">   
            <h3 class="page-header">RESULTADO DE ANALISIS</h3>
            <div class="row">
                <div class="col-lg-2">{{ form_row(form.temperature) }}</div>
                <div class="col-lg-4">{{ form_row(form.turbidity) }}</div>
                <div class="col-lg-3">{{ form_row(form.ph) }}</div>
                <div class="col-lg-3"> {{ form_row(form.ammonium) }}</div>
                <div class="col-lg-6">{{ form_row(form.nitrites) }}</div>
                <div class="col-lg-6"> {{ form_row(form.nitratos) }}</div>
                <div class="col-lg-4"> {{ form_row(form.detergents) }}</div>
                <div class="col-lg-4">{{ form_row(form.chlorine) }}</div>
                <div class="col-lg-4"> {{ form_row(form.coliforms) }}</div>
                <div class="col-lg-6">{{ form_row(form.phosphates) }}</div>
                <div class="col-lg-6">{{ form_row(form.hardness) }}</div>
                <div class="col-lg-12">{{ form_row(form.observations) }}</div>

                <div class="col-lg-4">{{ form_row(form.dateofanalisis) }}</div>
                <div class="col-lg-4">{{ form_row(form.status) }}</div>
                <div class="col-lg-4">{{ form_row(form.image) }}</div>
                <div class="col-lg-12">{{ form_row(form.Guardar) }}</div>
                <div class="clearfix"></div>
            </div>

            {{form_errors(form)}}
            {{form_end(form)}}
        </div>
    {%endblock%}