{% extends "AppBundle:layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registrar nuevo cenote</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-form">
            <h3 class="page-header">CÉDULA DE REGISTRO DEL SITIO (SITE REGISTRATION FORM)</h3>
            {{form_start(form, {'action':'', 'method':'POST'})}}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.name) }}
                </div> 
                <div class="col-lg-6">
                    {{ form_row(form.coordinatesutm) }}    
                </div>

                <div class="col-lg-3">
                    <label>Región (Entity Name)</label><br>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_entitiname_0" name="backendbundle_cenote[entitiname][]" value="Quintana Roo"> Quintana Roo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label> 
                            <input type="checkbox" id="backendbundle_cenote_entitiname_1" name="backendbundle_cenote[entitiname][]" value="Yucatán">  Yucatán 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>   
                            <input type="checkbox" id="backendbundle_cenote_entitiname_2" name="backendbundle_cenote[entitiname][]" value="Campeche">  Campeche
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>   
                            <input type="checkbox" id="backendbundle_cenote_entitiname_3" name="backendbundle_cenote[entitiname][]" value="Otra">Otra
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Clave del sitio (Key Site)</label>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_0" name="backendbundle_cenote[keysite][]" value="Q1: Bacalar"> Q1: Bacalar
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_1" name="backendbundle_cenote[keysite][]" value="Q2: Dzulá, Felipe Carillo Puerto, José Maria Morelos"> Q2: Dzulá, Felipe Carillo Puerto, José Maria Morelos<br>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_2" name="backendbundle_cenote[keysite][]" value="Q3: Chumpón, Muyil, Tulum"> Q3: Chumpón, Muyil, Tulum<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_3" name="backendbundle_cenote[keysite][]" value="Q4: Cobá, Laguna Chabela"> Q4: Cobá, Laguna Chabela<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_4" name="backendbundle_cenote[keysite][]" value="Q5: Kantunilkin"> Q5: Kantunilkin<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_5" name="backendbundle_cenote[keysite][]" value="Y1: Tinum"> Y1: Tinum<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_6" name="backendbundle_cenote[keysite][]" value="Q6: Cancún, Puerto Morelos"> Q6: Cancún, Puerto Morelos<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_7" name="backendbundle_cenote[keysite][]" value="Q7: Playa del Carmen, Puerto Venturas, Akumal"> Q7: Playa del Carmen, Puerto Venturas, Akumal<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_keysite_8" name="backendbundle_cenote[keysite][]" value="Otra">Otra<br>
                        </label>

                    </div>
                </div>
                <div class="col-lg-5">
                    <label>En caso de cueva seca (In case of Dry Cave)</label><br>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_drycave_0" name="backendbundle_cenote[drycave][]" value="Con descenso vertical (Vertical Descend)"> Con descenso vertical (Vertical Descend)<br>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_drycave_1" name="backendbundle_cenote[drycave][]" value="Con penetración horizontal (Horizontal Penetration)"> Con penetración horizontal (Horizontal Penetration)<br>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_drycave_2" name="backendbundle_cenote[drycave][]" value="Con cuerpos de agua (Shafts)"> Con cuerpos de agua (Shafts)<br> 
                        </label>  
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_drycave_3" name="backendbundle_cenote[drycave][]" value="Parcialmente inundada (Partial Floated)"> Parcialmente inundada (Partial Floated)<br> 
                        </label> 
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_drycave_4" name="backendbundle_cenote[drycave][]" value="Otra">Otra<br>
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Tipo de contexto (Kind of Context)</label><br>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_0" name="backendbundle_cenote[kindofcontext][]" value="Cenote abierto (Open Cenote)"> Cenote abierto (Open Cenote)<br>    
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_1" name="backendbundle_cenote[kindofcontext][]" value="Cenote con acceso restringido (Restricted Access Cenote)"> Cenote con acceso restringido (Restricted Access Cenote)<br>    
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_2" name="backendbundle_cenote[kindofcontext][]" value="Cenote profundo (Deep Cenote)"> Cenote profundo (Deep Cenote)<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_3" name="backendbundle_cenote[kindofcontext][]" value="Noria (Colonial Water Well)"> Noria (Colonial Water Well)<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_4" name="backendbundle_cenote[kindofcontext][]" value="Laguna (Lagoon)"> Laguna (Lagoon)<br>    
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_5" name="backendbundle_cenote[kindofcontext][]" value="Ría (Estuary)"> Ría (Estuary)<br>
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_6" name="backendbundle_cenote[kindofcontext][]" value="Cueva seca (Dry Cave)"> Cueva seca (Dry Cave)<br>    
                        </label>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_kindofcontext_7" name="backendbundle_cenote[kindofcontext][]" value="Otra">Otra<br>
                        </label>

                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Rasgo relevantes (Relevant Traits) </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_0" name="backendbundle_cenote[relevanttraits][]" value="Cerámica (Ceramics)"> Cerámica (Ceramics)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_1" name="backendbundle_cenote[relevanttraits][]" value="Restos óseos humanos (Human Bones)"> Restos óseos humanos (Human Bones)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_2" name="backendbundle_cenote[relevanttraits][]" value="Restos óseos de fauna (Animal Bones)"> Restos óseos de fauna (Animal Bones)
                        </label>  
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_3" name="backendbundle_cenote[relevanttraits][]" value="Montículos de piedras (Maya structures / Mounts / Hills)"> Montículos de piedras (Maya structures / Mounts / Hills)
                        </label> 
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_4" name="backendbundle_cenote[relevanttraits][]" value="Altares (Altars)"> Altares (Altars)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_5" name="backendbundle_cenote[relevanttraits][]" value="Muros bajos de piedras (Low Stone Walls)"> Muros bajos de piedras (Low Stone Walls)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_6" name="backendbundle_cenote[relevanttraits][]" value="Petrograbados (Petroglyphs)"> Petrograbados (Petroglyphs)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_7" name="backendbundle_cenote[relevanttraits][]" value="Grafico rupestre (Hand Prints)"> Grafico rupestre (Hand Prints)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_8" name="backendbundle_cenote[relevanttraits][]" value="Pintura mural (Maya painting / Maya Glyphs)">Pintura mural (Maya painting / Maya Glyphs)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_9" name="backendbundle_cenote[relevanttraits][]" value="Fauna pleistocénica (Pleistocenic Fauna)">Fauna pleistocénica (Pleistocenic Fauna)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_10" name="backendbundle_cenote[relevanttraits][]" value="Carbón (Charcoal)">Carbón (Charcoal)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_relevanttraits_11" name="backendbundle_cenote[relevanttraits][]" value="Otra">Otra
                        </label>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label>{{"Descripción detallada del sitio (Tipo de hallazgo y descripción de contexto)"}}</label><br>
                    <label>{{"Site Detailed Description (Kind of Discovery and Context Description)"}}</label>
                    {{form_widget(form.contextdescription)}}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.equipment) }}  
                </div>



                <div class="col-lg-6">
                    <label>Condiciones generales de preservación (Preservation General Conditions)</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_preservationgeneral_0" name="backendbundle_cenote[preservationgeneral][]" value="Alterado (Altered)"> Alterado (Altered)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_preservationgeneral_1" name="backendbundle_cenote[preservationgeneral][]" value="No alterado (Non Altered)"> No alterado (Non Altered)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_preservationgeneral_2" name="backendbundle_cenote[preservationgeneral][]" value="Otra">Otra
                        </label>  
                    </div>
                </div>
                <div class="col-lg-12">
                    <label>{{"En caso de alguna alteración del contexto favor de explicar"}}</label><br>
                    <label>{{"(In case of any context alteration is visible, please explain)"}}</label>
                    {{form_widget(form.alteration)}}
                </div>  

                <div class="col-lg-6">
                    {{ form_row(form.depth) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.horizontalpenetration) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.sitedimensions) }}
                </div>  
                <div class="col-lg-6">
                    {{ form_row(form.entrancedistance) }}
                </div>  
                <div class="col-lg-4">
                    <label>Descripción técnica de sitio (Site Technical Description)</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_technicaldescription_0" name="backendbundle_cenote[technicaldescription][]" value="Mapeado (Mapped)"> Mapeado (Mapped)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_technicaldescription_1" name="backendbundle_cenote[technicaldescription][]" value="No mapeado (Not Mapped)"> No mapeado (Not Mapped)
                        </label>
                    </div>

                </div>
                <div class="col-lg-4">
                    <label>Sitio asociado a (Site associated to)</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_0" name="backendbundle_cenote[siteassociated][]" value="Asentamiento urbano (Urban Settlement)"> Asentamiento urbano (Urban Settlement)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_1" name="backendbundle_cenote[siteassociated][]" value="Sitio arqueológico (Archeological Site)"> Sitio arqueológico (Archeological Site)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_2" name="backendbundle_cenote[siteassociated][]" value="Sitio Colonial (Colonial Site)"> Sitio Colonial (Colonial Site)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_3" name="backendbundle_cenote[siteassociated][]" value="Cuerpos de agua (Aquifers)"> Cuerpos de agua (Aquifers)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_4" name="backendbundle_cenote[siteassociated][]" value="Línea de costa (Coast Line)"> Línea de costa (Coast Line)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_5" name="backendbundle_cenote[siteassociated][]" value="Ninguno (Non)"> Ninguno (Non)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_siteassociated_6" name="backendbundle_cenote[siteassociated][]" value="Otra">Otra
                        </label>
                    </div>
                </div> 
                <div class="col-lg-4">
                    <label>Tipo de agua (Type of water)</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_0" name="backendbundle_cenote[typeofwater][]" value="Dulce (Fresh Water)"> Dulce (Fresh Water)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_1" name="backendbundle_cenote[typeofwater][]" value="Salada (Salt Water)"> Salada (Salt Water)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_2" name="backendbundle_cenote[typeofwater][]" value="Haloclina (Halocline)"> Haloclina (Halocline)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_3" name="backendbundle_cenote[typeofwater][]" value="Tánica (Tannic)"> Tánica (Tannic)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_4" name="backendbundle_cenote[typeofwater][]" value="Ácido Sulfhídrico (Hydrogen Sulfide)"> Ácido Sulfhídrico (Hydrogen Sulfide)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofwater_5" name="backendbundle_cenote[typeofwater][]" value="Otra">Otra
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Colecta de muestras de agua (Water Samples Collection)</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_0" name="backendbundle_cenote[watersamples][]" value="Superficial (Surface)"> Superficial (Surface)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_1" name="backendbundle_cenote[watersamples][]" value="Entre 5 y 10 metros (Between 5 to 10 meters depth)"> Entre 5 y 10 metros (Between 5 to 10 meters depth)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_2" name="backendbundle_cenote[watersamples][]" value="Entre 10 y 20 metros (Between 10 to 20 meters depth)"> Entre 10 y 20 metros (Between 10 to 20 meters depth)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_3" name="backendbundle_cenote[watersamples][]" value="Entre 20 y 30 metros (Between 20 to 30 meters depth)"> Entre 20 y 30 metros (Between 20 to 30 meters depth)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_4" name="backendbundle_cenote[watersamples][]" value="Entre 30 y 40 metros (Between 30 to 40 meters depth)"> Entre 30 y 40 metros (Between 30 to 40 meters depth)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_5" name="backendbundle_cenote[watersamples][]" value="Entre 40 y 50 metros (Between 40 to 50 meters depth)"> Entre 40 y 50 metros (Between 40 to 50 meters depth)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_6" name="backendbundle_cenote[watersamples][]" value="A favor de la corriente o flujo de agua (Downstream)"> A favor de la corriente o flujo de agua (Downstream)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_watersamples_7" name="backendbundle_cenote[watersamples][]" value="En contra de corriente o flujo de agua (Upstream)"> En contra de corriente o flujo de agua (Upstream)
                        </label>
                    </div>
                </div>  

                <div class="col-lg-6">
                    <label>{{"Datos de contacto: nombre, número telefónico y/o correo electrónico del dueño/responsable del predio."}}</label>
                    <label>{{"Contact: (Name, Phone Number and/or email of Owner/Land Responsible)"}}</label>
                    {{form_widget(form.contact)}}
                    {{form_errors(form.contact)}}
                </div>

                <div class="col-lg-6">{{ form_row(form.exploredby) }}</div>
                <div class="col-lg-6">{{ form_row(form.documentedby) }}</div>
                <div class="col-lg-6">{{ form_row(form.inspectiondate) }}</div>
                <div class="col-lg-6">{{ form_row(form.registrationby) }}</div>
                <div class="clearfix"></div>
            </div>                
        </div>

        <br>

        <div class="box-form">
            <h3 class="page-header">CÉDULA DE REGISTRO DEL ANÁLISIS BIOQUÍMICO DEL ACUÍFERO </h3>
            <div class="row">
                <div class="col-lg-6">{{ form_row(form.sitecode) }}</div>
                <div class="col-lg-6">{{ form_row(form.coordinates) }}</div>
                <div class="col-lg-4">{{ form_row(form.state) }}</div>
                <div class="col-lg-4">{{ form_row(form.townquintanaroo) }}</div>
                <div class="col-lg-4">{{ form_row(form.townyucatan) }}</div>
                <div class="col-lg-6">{{ form_row(form.location) }}</div>
                <div class="col-lg-6">{{ form_row(form.characteristics) }}</div>

                <div class="col-lg-6">
                    <label>Tipo de Contexto</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_0" name="backendbundle_cenote[typeofcontext][]" value="Cenote abierto"> Cenote abierto
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_1" name="backendbundle_cenote[typeofcontext][]" value="Cenote con acceso restringido"> Cenote con acceso restringido
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_2" name="backendbundle_cenote[typeofcontext][]" value="Cenote profundo"> Cenote profundo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_3" name="backendbundle_cenote[typeofcontext][]" value="Noria"> Noria
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_4" name="backendbundle_cenote[typeofcontext][]" value="Laguna"> Laguna
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_5" name="backendbundle_cenote[typeofcontext][]" value="Estuario"> Estuario
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_6" name="backendbundle_cenote[typeofcontext][]" value="Cueva seca"> Cueva seca
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_7" name="backendbundle_cenote[typeofcontext][]" value="Acuífero a nivel superficial"> Acuífero a nivel superficial
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_8" name="backendbundle_cenote[typeofcontext][]" value="Cueva profunda"> Cueva profunda
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_9" name="backendbundle_cenote[typeofcontext][]" value="Cueva con penetración"> Cueva con penetración
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_typeofcontext_10" name="backendbundle_cenote[typeofcontext][]" value="Otra">Otra
                        </label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>Estado de conservación</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_0" name="backendbundle_cenote[conservationstatus][]" value="Natural, bien preservado">Natural, bien preservado
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_1" name="backendbundle_cenote[conservationstatus][]" value="Sitio urbanizado">Sitio urbanizado
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_2" name="backendbundle_cenote[conservationstatus][]" value="Poca influencia de actividades humanas"> Poca influencia de actividades humanas
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_3" name="backendbundle_cenote[conservationstatus][]" value="Alta influencia de actividades humanas">Alta influencia de actividades humanas
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_4" name="backendbundle_cenote[conservationstatus][]" value="Baja presencia de contaminantes"> Baja presencia de contaminantes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_5" name="backendbundle_cenote[conservationstatus][]" value="Alta presencia de contaminantes"> Alta presencia de contaminantes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_conservationstatus_6" name="backendbundle_cenote[conservationstatus][]" value="Otra">Otra
                        </label>
                    </div>

                </div>


                <div class="col-lg-6">{{ form_row(form.flora) }}</div>
                <div class="col-lg-6">{{ form_row(form.fauna) }}</div>
                <div class="col-lg-4">{{ form_row(form.archaelements) }}</div>
                <div class="col-lg-4">{{ form_row(form.archasurvey) }}</div>
                <div class="col-lg-3">{{ form_row(form.touristactivities) }}</div>

                <div class="col-lg-5">
                    <label>En caso de presencia de elementos arqueológicos, señalar cuáles. </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_0" name="backendbundle_cenote[whichelements][]" value="Altar">Altar
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_1" name="backendbundle_cenote[whichelements][]" value="Alineamientos de piedra">Alineamientos de piedra
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_2" name="backendbundle_cenote[whichelements][]" value="Montículos"> Montículos
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_3" name="backendbundle_cenote[whichelements][]" value="Petroglifos">Petroglifos
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_4" name="backendbundle_cenote[whichelements][]" value="Gráfico rupestre"> Gráfico rupestre
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_5" name="backendbundle_cenote[whichelements][]" value="Fauna pleistocénica"> Fauna pleistocénica
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_6" name="backendbundle_cenote[whichelements][]" value="Restos óseos humanos"> Restos óseos humanos
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_7" name="backendbundle_cenote[whichelements][]" value="Cerámica"> Cerámica
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_8" name="backendbundle_cenote[whichelements][]" value="Restos óseos de fauna"> Restos óseos de fauna
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_9" name="backendbundle_cenote[whichelements][]" value="Muros">Muros
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichelements_10" name="backendbundle_cenote[whichelements][]" value="Otra">Otra
                        </label>
                    </div>


                </div>

                <div class="col-lg-4">
                    <label>En caso de actividad turística, señale cuáles.</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_0" name="backendbundle_cenote[whichactivities][]" value="Buceo">Buceo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_1" name="backendbundle_cenote[whichactivities][]" value="Campamento">Campamento
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_2" name="backendbundle_cenote[whichactivities][]" value="Asociado a sitio Arqueológico"> Asociado a sitio Arqueológico
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_3" name="backendbundle_cenote[whichactivities][]" value="Espeleología">Espeleología
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_4" name="backendbundle_cenote[whichactivities][]" value="Nado en cenotes"> Nado en cenotes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_5" name="backendbundle_cenote[whichactivities][]" value="Observación de flora y fauna">Observación de flora y fauna
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_6" name="backendbundle_cenote[whichactivities][]" value="Pesca">Pesca
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_7" name="backendbundle_cenote[whichactivities][]" value="Paseos a pie, en bicicleta o motos."> Paseos a pie, en bicicleta o motos.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_8" name="backendbundle_cenote[whichactivities][]" value="Recorridos en Kayak, canoa o lancha."> Recorridos en Kayak, canoa o lancha.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_9" name="backendbundle_cenote[whichactivities][]" value="Recorridos en Kayak, canoa o lancha.">Recorridos en Kayak, canoa o lancha.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backendbundle_cenote_whichactivities_10" name="backendbundle_cenote[whichactivities][]" value="Otra">Otra
                        </label>
                    </div>


                </div>


                <div class="clearfix"></div> 
            </div>
        </div>
        <br>

        <div class="box-form">   
            <h3 class="page-header">RESULTADO DE ANALISIS</h3>
            <div class="row">
                <div class="col-lg-2">{{ form_row(form.temperature) }}</div>
                <div class="col-lg-4">{{ form_row(form.turbidity) }}</div>
                <div class="col-lg-3">{{ form_row(form.ph) }}</div>
                <div class="col-lg-3"> {{ form_row(form.ammonium) }}</div>
                <div class="col-lg-6">{{ form_row(form.nitrites) }}</div>
                <div class="col-lg-6"> {{ form_row(form.nitratos) }}</div>
                <div class="col-lg-4"> {{ form_row(form.detergents) }}</div>
                <div class="col-lg-4">{{ form_row(form.chlorine) }}</div>
                <div class="col-lg-4"> {{ form_row(form.coliforms) }}</div>
                <div class="col-lg-6">{{ form_row(form.phosphates) }}</div>
                <div class="col-lg-6">{{ form_row(form.hardness) }}</div>
                <div class="col-lg-12">{{ form_row(form.observations) }}</div>

                <div class="col-lg-4">{{ form_row(form.dateofanalisis) }}</div>
                <div class="col-lg-4">{{ form_row(form.status) }}</div>
                <div class="col-lg-4">{{ form_row(form.image) }}</div>
                <div class="col-lg-12">{{ form_row(form.Guardar) }}</div>
                <div class="clearfix"></div>
            </div>

            {{form_errors(form)}}
            {{form_end(form)}}
        </div>


    </div>


{% endblock %}