{% extends "AppBundle:layouts:layout.html.twig" %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('assets/js/custom/profile.js') }}"></script>
{% endblock %}

{% block content %}

    <!--<div class="col-lg-10 box-default profile-box">
        <div id="user-cenotes"></div>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Perfil de {{user.email }}</h1>
            </div>
        </div>
    </div>

    <div id="profile-box" class="container profile-box">
        <div class="avatar">
            {% if user.image == null %}
                <img src="{{asset('assets/images/default.jpg')}}">
            {% else %}
                <img src="{{asset('uploads/users/'~user.image)}}">
            {% endif %}
        </div>
        
        <div class="name-lastname">
            <h2>{{user.name}} {{user.plastname}} {{user.mlastname}}</h2>
            <div class="clearfix"></div>
            <h3>{{user.email}}</h3>
        </div>
    </div>
        
        
        
        
    <div class="container">
        <div class="row">
            <div id="timeline" class="col-lg-12 box-default">
                <div class="box-content">
                    <h1>Registros</h1>
                    <div class="count">
                        <span class="label label-primary">
                            Total de cenotes {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <hr>

                    <ul id="cenotes-list">
                        {% for cenote in pagination %}
                            <li class="cenote-item col-md-4 pull-lef">
                                <div class="cenote-image-thumb">
                                    <div class="avatar">
                                        {% if cenote.image == null %}
                                            <img src="{{asset('assets/images/default.jpg')}}">
                                        {% else %}
                                            <img src="{{asset('uploads/cenotes/images/'~cenote.image)}}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="data">
                                    <h4><a href="#">{{cenote.name}}</a></h4>
                                    <p>Registro por: {{ cenote.user.name }} {{ cenote.user.plastname }}</p>
                                    <span class="pub-date">
                                        {{cenote.createdAt|date('d-m-y')}}
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="navigation col-lg-12">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="clearfix"></div>

            </div>
        </div>

    </div>

{% endblock%}