{% extends "AppBundle:layouts:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lista de cenotes</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="timeline" class="col-lg-12 box-default">
                <div class="box-content">
                    <h1>Registros</h1>
                    <div class="count">
                        <span class="label label-primary">
                            Total de cenotes {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <hr>

                    <ul id="cenotes-list">
                        {% for cenote in pagination %}
                            <li class="cenote-item col-md-4 pull-lef">
                                <div class="cenote-image-thumb">
                                    <div class="avatar">
                                        {% if cenote.image == null %}
                                            <img src="{{asset('assets/images/default.jpg')}}">
                                        {% else %}
                                            <img src="{{asset('uploads/cenotes/images/'~cenote.image)}}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="data">
                                    <h4><a href="#">{{cenote.name}}</a></h4>
                                    <p>Registro por: {{ cenote.user.name }} {{ cenote.user.plastname }}</p>
                                    <span class="pub-date">
                                        {{cenote.createdAt|date('d-m-y')}}
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="navigation col-lg-12">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <!--
        <div id="user-card" class="col-lg-4 box-default pull-right">
            <div class="avatar">
        {% if app.user.image == null %}
            <img src="{{asset('assets/images/default.jpg')}}">
        {% else %}
            <img src="{{asset('uploads/users/'~app.user.image)}}">
        {% endif %}

    </div>
    <div class="name-lastname">
        <a href="my-data">{{app.user.name}} {{app.user.plastname}} {{app.user.mlastname}}</a>
        <div class="clearfix"></div>
        <span class="email">
        {{app.user.email}}
    </span>
</div>
<div class="clearfix"></div>
</div>
        -->
    </div>
</div>

{% endblock %}