<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} GRAN ACUÍFERO MAYA {% endblock %}
        </title>
        {% block stylesheets %}
            
            <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript">
                //cuando se publique el proyecto se borra la url extra (/gam/gam...)
                var URL = "{{ app.request.getSchemeAndHttpHost() }}/gam/web/app_dev.php";
            </script>
            <script src="{{ asset('assets/js/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/js/jquery-ias.min.js')}}"></script>

        {% endblock%}
    </head>
    <body> 
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="{{path("app_homepage")}}">
                            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                            GAM
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if app.user == null %}
                                <li>
                                    <a href="{{path("login")}}">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                        &nbsp;
                                        Entrar
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path("register")}}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                                        Registro
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{path("app_homepage")}}">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                        &nbsp;
                                        Inicio
                                    </a>   
                                </li>
                                <li>
                                    <a href="{{path("user_list")}}">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        &nbsp;
                                        Usuarios registrados
                                    </a>   
                                </li>

                                <li>
                                    <form action="{{path('cenote_search')}}" class="navbar-form navbar-left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Buscar registros" name="search">
                                        </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </li>
                            {% endif%}
                        </ul>
                        {% if app.user != null%}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{path("new_cenote")}}">
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        &nbsp;
                                        Registrar cenote
                                    </a>   
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar">
                                            {% if app.user.image == null %}
                                                <img src="{{asset('assets/images/default.jpg')}}">
                                            {% else %}
                                                <img src="{{asset('uploads/users/'~app.user.image)}}">
                                            {% endif %}

                                        </div>
                                        {{ app.user.name }} {{app.user.plastname}} {{ app.user.mlastname }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{path('user_profile', {'email':app.user.email})}}">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;
                                                Mi perfil
                                            </a>
                                        </li>
                                        <li><a href="{{path("user_edit")}}">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp;
                                                Mis datos
                                            </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{path("logout")}}"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp;Salir</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif%}
                    </div> 
                </div>
            </nav>
        </header>

        <section id="content">
            <!-- sessiones mensajes flag-->
            <div class="container">
                {% for message in app.session.flashbag().get('status') %}
                    <div class="alert alert-success">{{message}}</div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            {% block content %}
                content default
            {% endblock %}
        </section>

        <!-- Footer -->
        <!-- la clase texto centrado es para usarlo solo en responsive -->
        <footer class="footer texto-centrado">
            <div class="container">
                <div class="page-header"></div>
                <div class="row">
                    <div class="col-lg-3">
                        <p class="text-muted"><b>Gran Acuífero Maya &copy; 2017.</b></p>
                        <br>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-muted"><b>Enlaces</b></p>
                        <a href="http://www.inah.gob.mx/es/" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;INAH</a><br>
                        <a href="http://www.caf.com/es/paises/mexico/" target="_blank"  class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;CAF</a><br>
                        <a href="http://www.aspeninstitutemexico.org/" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;Aspen Institute México</a><br>
                        <a href="http://www.utrivieramaya.edu.mx/" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;UTRM</a>
                     </div>
                    <div class="col-lg-3">
                        <p class="text-muted"><b>Enlaces</b></p>
                        <a href="http://www.unam.mx/" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;UNAM</a><br>
                        <a href="http://itscarrillopuerto.edu.mx/webitsfcp/index.php" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;Tecnológico Superior de Felipe Carrillo Puerto</a><br>
                        <a href="http://www.digitalpreservation.org/about.html" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;Digital Preservation Project</a><br>
                        <a href="http://www.nationalgeographic.com/" target="_blank" class="text-muted"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> &nbsp;National Geographic</a><br>
                     
                    </div>
                    <div class="col-lg-3">
                        <p class="text-muted"><b>Redes Sociales</b></p>
                        
                        <a href="http://www.facebook.com/proyectogam/" target="_blank">Facebook</a><br>
                        <a href="http://www.twitter.com/ProyectoGAM?lang=es" target="_blank">Twitter</a><br>
                        <a href="http://www.instagram.com/proyectogam/" target="_blank">Instagram</a><br>
                        <a href="https://www.youtube.com/channel/UCa-Z3qA36DnC9uJd3OGwYjw" target="_blank">YouTube</a><br>
                        <a href="http://granacuiferomaya.com" target="_blank">Blog</a>
                        
                        <p class="text-muted">Sitio Web Creado con <span class="glyphicon glyphicon-heart"></span> por <a href="https://www.facebook.com/somoscrealab/" target="_blank">CreaLab</a></p> <br>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>